on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java: [17, 25]
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: sbt/setup-sbt@v1
    - run: sbt -v
           scalafmtCheckAll
           scalafmtSbtCheck
           "scalafixAll --check"
           test
           publishLocal
           sbtPluginJVM2_12/scripted
           sbtPluginJVM3/scripted
